<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="goVisualNovel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="goVisualNovel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <goVisualNovel.Properties.Settings>
            <setting name="LocalLang" serializeAs="String">
                <value>zhs</value>
            </setting>
        </goVisualNovel.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <goVisualNovel.Properties.Settings>
            <setting name="Youdao" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Youdao_AppKey" serializeAs="String">
                <value />
            </setting>
            <setting name="Youdao_AppSecret" serializeAs="String">
                <value />
            </setting>
        </goVisualNovel.Properties.Settings>
    </userSettings>
</configuration>